<div class='main-nav'>
  <div class="btn-group-justified" dir="ltr">
    <a id="btnPension" class="btn {{getButtonStyle(7)}} " *ngIf="show" style="width:15%;">קצבה</a>
    <a id="btnInstitutes" class="btn {{getButtonStyle(5)}} " style="width:17%">מוסדות</a>
    <a id="btnBank" class="btn {{getButtonStyle(4)}} " style="width:13%">בנק</a>
    <a id="bntTelephone" class="btn {{getButtonStyle(3)}} " style="width:15%">טלפון</a>
    <a id="btnAddress" class="btn {{getButtonStyle(2)}} " style="width:16%">כתובת</a>
    <a id="bntGeneral" class="btn {{getButtonStyle(1)}} " style="width:24%">פרטים כלליים</a>
  </div>
</div>
